.wikiDesigner__container {
    float:left;
    margin-right:50px;
}

.wikiDesigner {
    display:inline-flex;
    flex-flow:column nowrap;
}

.wikiDesigner legend {
    border-bottom:1px solid var(--wiki-content-border-color);
    padding:0.25em;
}

.wikiDesigner__options-group {
    display:flex;
    flex-flow:column nowrap;
    border:1px solid var(--wiki-content-border-color);
    padding:5px;
}

.wikiDesigner__option {
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
    margin:2px 0;
}

.wikiDesigner__option.auto {
    color:var(--wiki-content-text-mix-color);
}

.wikiDesigner__option.auto input,
.wikiDesigner__option.auto input:hover,
.wikiDesigner__option.auto input:focus {
    border-color:var(--wiki-content-text-mix-color);
    opacity:0.75;
}

.wikiDesigner__option > label {
    margin-right:10px;
}